@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

@import "tailwindcss";

@theme {
  --color-secondary: #0051d5;
  --color-on-surface-variant: #45464d;
  --color-surface-bright: #f8f9ff;
  --color-on-tertiary: #ffffff;
  --color-surface-container-lowest: #ffffff;
  --color-outline-variant: #c6c6cd;
  --color-error: #ba1a1a;
  --color-surface-container-high: #dce9ff;
  --color-primary-container: #131b2e;
  --color-outline: #76777d;
  --color-on-primary-container: #7c839b;
  --color-tertiary-container: #002114;
  --color-inverse-surface: #213145;
  --color-tertiary-fixed-dim: #68dba9;
  --color-surface-container-highest: #d3e4fe;
  --color-inverse-on-surface: #eaf1ff;
  --color-on-secondary-fixed-variant: #003ea8;
  --color-surface-dim: #cbdbf5;
  --color-inverse-primary: #bec6e0;
  --color-secondary-fixed-dim: #b4c5ff;
  --color-background: #f8f9ff;
  --color-on-tertiary-fixed-variant: #005137;
  --color-secondary-container: #316bf3;
  --color-on-secondary: #ffffff;
  --color-on-background: #0b1c30;
  --color-on-tertiary-container: #069669;
  --color-error-container: #ffdad6;
  --color-on-surface: #0b1c30;
  --color-on-secondary-container: #fefcff;
  --color-on-error: #ffffff;
  --color-surface: #f8f9ff;
  --color-on-primary-fixed-variant: #3f465c;
  --color-surface-tint: #565e74;
  --color-on-primary-fixed: #131b2e;
  --color-primary: #000000;
  --color-on-tertiary-fixed: #002114;
  --color-on-error-container: #93000a;
  --color-surface-variant: #d3e4fe;
  --color-primary-fixed-dim: #bec6e0;
  --color-surface-container-low: #eff4ff;
  --color-tertiary: #000000;
  --color-on-secondary-fixed: #00174b;
  --color-secondary-fixed: #dbe1ff;
  --color-surface-container: #e5eeff;
  --color-tertiary-fixed: #85f8c4;
  --color-on-primary: #ffffff;
  --color-primary-fixed: #dae2fd;

  --spacing-margin-mobile: 1rem;
  --spacing-space-xs: 0.25rem;
  --spacing-space-sm: 0.5rem;
  --spacing-space-md: 1rem;
  --spacing-space-lg: 1.5rem;
  --spacing-space-xl: 2.5rem;
  --spacing-gutter: 1.5rem;
  --spacing-margin: 2rem;

  --font-body-md: "Plus Jakarta Sans", sans-serif;
  --font-body-lg: "Plus Jakarta Sans", sans-serif;
  --font-title-md: "Plus Jakarta Sans", sans-serif;
  --font-title-lg: "Plus Jakarta Sans", sans-serif;
  --font-headline-sm: "Plus Jakarta Sans", sans-serif;
  --font-headline-md: "Plus Jakarta Sans", sans-serif;
  --font-headline-lg: "Plus Jakarta Sans", sans-serif;
  --font-label-md: "Plus Jakarta Sans", sans-serif;
  --font-label-sm: "Plus Jakarta Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background: #f8f9ff;
  color: #0b1c30;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga";
}